
[submodule "bundle/tabular"]
url = "https://github.com/godlygeek/tabular.git"
path = "bundle/tabular"

[submodule "bundle/tagbar"]
url = "https://github.com/majutsushi/tagbar.git"
path = "bundle/tagbar"

[submodule "bundle/todo.txt"]
url = "https://github.com/freitass/todo.txt-vim.git"
path = "bundle/todo.txt"

[submodule "bundle/YouCompleteMe"]
url = "https://github.com/Valloric/YouCompleteMe.git"
path = "bundle/YouCompleteMe"

[submodule "bundle/surround"]
url = "https://github.com/tpope/vim-surround.git"
path = "bundle/surround"

